.App {
  text-align: center;
}

header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: dotted lightgray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search,
button {
  height: 2.5rem;
  width: 15rem;
  border-radius: 5px;
}
.search:hover {
  background: rgb(245, 245, 245);
}

button {
  width: 7rem;
}

button:hover {
  height: 3rem;
  width: 8rem;
}
